@charset "utf-8";

Emily Fenter Final Project
File name = style.css

General Look

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 255, 0);
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

Header

header {
  background-color: rgb(92, 64, 51);
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}

Navigation

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center:
  gap: 20px;
}

nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  display: block;
}

Interactive

nav a:hover
nav a:focus {
  background-color: rgb(121, 85, 72) ;
  border-radius: 5px;
}

Layout

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

section {
  background-color: rgb(0, 255, 0);
  padding: 20px;
  border-radius: 8px;
  flex: 2;
}

aside {
  background-color: rgb(0, 255, 0);
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

Section Grid

#gallery {
  display: grid;
  grid-template-columns: repeat (auto-fit, minmax(250px, 1f4));
  gap:10px;
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#my-specific-image {
  width: 800px;
}

Selector

#gallery.gallery-grid img {
  width: 100%
  height:auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

#gallery.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgb(0, 255, 0);
}

Video Details

video {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

Footer Details

foot {
  text-align:center;
  padding: 20px;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
